<section class="flex flex-col w-full items-center gap-4">
  <h2 class="text-lg font-bold"><%= @recipe.name %></h2>
  <label class="relative inline-flex items-center mr-5 cursor-pointer self-end">
    <%if @recipe.public%>
      <input type="checkbox" class="sr-only peer" checked>
    <%else%>
      <input type="checkbox" class="sr-only peer">
    <%end%>
    <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Public</span>
  </label>
  <div class="self-start flex gap-4">
    <h2 class="font-bold">Preparation time: </h2>
    <h2><%= @recipe.preparation_time %></h2>
  </div>
  <div class="self-start flex gap-4">
    <h2 class="font-bold">Cooking time: </h2>
    <h2><%= @recipe.cooking_time %></h2>
  </div>
  <div class="self-start flex gap-4">
    <h2 class="font-bold">Description: </h2>
    <h2><%= @recipe.description %></h2>
  </div>
  <div class="flex gap-4">
    <%= button_to "Generate shopping list", new_recipe_path, method:'get', class: "p-3
      rounded-full bg-emerald-200 text-end mb-3 justify-self-end" %> 
    <%= button_to "Add Ingridient", new_recipe_path, method:'get', class: "p-3
      rounded-full bg-emerald-200 text-end mb-3 justify-self-end" %> 
  </div>
</section>